<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ONline Shopping Cart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @Html.Hidden("HiddenCurrentUrl", Url.Action("/"))
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="background-color: #393333; margin-top: 80px">
        <div class="container body-content">
            <div style="padding: 10px;">
                <a href="">Link1</a><br /><a href="">Link2</a><br /><a href="">Link3</a><br /><a href="">Link4</a><br /><a href="">Link5</a>
            </div>
            <hr/>
            <p style="color:white">&copy; @DateTime.Now.Year - ONline Shopping Cart</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    a {
        color: white;
    }

        a:hover {
            color: white;
            text-decoration:underline;
        }
</style>
